<!DOCTYPE html>
<html ng-app="crawlerApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>EVE-Stats Home</title>
    <!--<base href="/eve-statistics-gui/">-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>

    <!--<link rel="stylesheet" href="css/main.css"/>-->


</head>
<body role="document">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">EVE Stats</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" ng-init="partial = 'main'">
                <li  ng-class="{active:partial=='main'}" ng-click="partial = 'main'"><a href="#">Home</a></li>
                <li ng-class="{active:partial=='about'}" ng-click="partial = 'about'"><a href="#about" >About</a></li>
                <!--<li><a href="#contact">Contact</a></li>-->
                <li class="dropdown">
                    <a href="#asdf" target="_self" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#bootstrap">Bootstrap</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div id="tooltip"></div>
<div class="container theme-showcase" role="main"  style="margin-top: 60px;" ng-controller="MainController">

    <div class="alert alert-success" role="alert" ng-if="updated" ng-click="hideMessage()">{{updated.name}}</div>

    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addAlliance()">Go!</button>
      </span>
        <input type="text" class="form-control" placeholder="allianceID" ng-model="allianceID">
    </div><!-- /input-group -->
  <table class="table">
      <thead>
        <th>#ID</th>
        <th>Name</th>
        <th>TYPE</th>
        <th>Kill ID</th>
        <th>Last Update</th>
        <th>queryList</th>
        <th>status</th>
        <th>Fail's</th>
      </thead>
      <tbody>
      <tr ng-repeat="iq in inquery |orderBy:lastUpdate">
          <td>{{iq.id}}</td>
          <td>{{iq.name}}</td>
          <td>{{iq.type}}</td>
          <td>{{iq.killID}}</td>
          <td>{{iq.lastUpdate|date:'HH:mm dd.MMM'}}</td>
          <td>{{iq.failCounter}}</td>
          <td>{{iq.list}}</td>
          <td>{{iq.status}}</td>
          <td ng-click="activate(iq[0].esId)">{{iq.inRedis}}</td>
      </tr>
      </tbody>

  </table>

</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="bower_components/angular/angular.js"></script>

<script src="js/app.js"></script>
<script src="js/MainController.js"></script>

<div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" style="position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;">      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%" height="100%">         <param name="movie" value="/assets/flash/ZeroClipboard.swf?noCache=1415205830138">         <param name="allowScriptAccess" value="sameDomain">         <param name="scale" value="exactfit">         <param name="loop" value="false">         <param name="menu" value="false">         <param name="quality" value="best">         <param name="bgcolor" value="#ffffff">         <param name="wmode" value="transparent">         <param name="flashvars" value="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com">         <embed src="/assets/flash/ZeroClipboard.swf?noCache=1415205830138" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="100%" height="100%" name="global-zeroclipboard-flash-bridge" allowscriptaccess="sameDomain" allowfullscreen="false" type="application/x-shockwave-flash" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com" scale="exactfit">                </object></div><svg xmlns="http://www.w3.org/2000/svg" width="1140" height="500" viewBox="0 0 1140 500" preserveAspectRatio="none" style="visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs></defs><text x="0" y="53" style="font-weight:bold;font-size:53pt;font-family:Arial, Helvetica, Open Sans, sans-serif;dominant-baseline:middle">Thirdslide</text></svg></body>
</html>